.listaChat {
    flex: 2;
    overflow-y: scroll; /* Contenedor desplazable verticalmente */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ffffff transparent; /* Color scroll */
    background-color: rgb(122, 122, 122);
    flex-direction: column;
    position: relative; /* scroll dentro del contenedor */

    .añadir, .grupo {
        width: 60px;
        height: 60px;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px; 
        margin-bottom: 20px; 
        border: none;
        border-radius: 5px;
        background-color: rgb(187, 255, 255);
        box-shadow: 0 0 5px rgb(0, 55, 117); /* sombra */
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid black;
    }

    .texts {
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgb(255, 255, 255);
        background-color: #141414;
        border-radius: 15px;
        width: 100%;
        box-shadow: 0 0 10px rgb(81, 255, 0);
        padding: 20px;

        .perfil-img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }

    span {
        font-weight: 500;
    }

    p {
        font-size: 14px;
        font-weight: 300;
    }
}
