.usuario {
    padding: 20px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario .user {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: #ffffff;
}



.usuario img {
    border-radius: 50%;
    object-fit: cover;
}

.usuario .perfil-img{
    width: 65px;
    height: 65px;
}

.cerrarSesion {
    padding: 1px 25px;
    background-color: rgba(194, 0, 0, 0.89);
    color: white;
    border: none;
    border-radius: 10px;
    /* cursor: pointer;
    position: fixed; */
    /*right: 50px;  O ajusta según sea necesario */

}

